html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #eee;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

.header {
  background-color: #007765;
  width: 100%;
  padding: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1219px;
  margin: 0 auto;
  padding: 0 55px;
}

.header__m-button {
  cursor: pointer;
  width: 40px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header__m-button-line {
  height: 2px;
  width: 25px;
  border-radius: 2px;
  background-color: #ffffff;
  transition: all 0.5s;
}

.header__m-button-line:first-child.active {
  transform: translateY(0.39em) rotate(45deg);
}

.header__m-button-line:nth-child(2).active {
  opacity: 0;
}

.header__m-button-line:last-child.active {
  transform: translateY(-0.33em) rotate(135deg);
}

.header__nav {
  display: inline-block;
  font-size: 24px;
  line-height: 45px;
  color: #fff;
}

.header__nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 8px;
}

.header__nav-link:hover {
  color: #eee;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.header__nav-list {
  margin: 0 auto;
  display: flex;
  list-style: none;
}

.header__nav-item {
  margin-right: 23px;
  position: relative;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 28px;
  bottom: 8px;
  right: -8px;
  background-color: #ffffff;
  position: absolute;
}

.piper-net {
  position: relative;
  background-color: rgb(5, 63, 65);
  background-image: url("../img/pipernet-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 160px;
  padding-bottom: 160px;
}

.piper-net__title {
  font-size: 74px;
  line-height: 80px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.the-problem {
  position: relative;
  background: #eee;
  padding: 45px 0 90px;
}

.the-problem__title,
.introduction__title,
.team__title {
  display: block;
  text-align: center;
  color: #007765;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
}

.the-problem__text {
  margin: 0;
  font-size: 32px;
  line-height: 37px;
  font-weight: normal;
}

.tagline {
  background-color: rgb(9, 128, 175);
  background-image: url("../img/tagline-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 125px 0;
}

.tagline__title {
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
  max-width: 890px;
  margin: 0 auto;
}

.introduction {
  position: relative;
  background-color: #fff;
  padding: 45px 0 90px;
}

.introduction__image {
  float: left;
  margin-right: 48px;
}

.introduction__text {
  font-size: 32px;
  line-height: 37px;
  font-weight: normal;
  margin: 0;
}
.team {
  position: relative;
  background-color: #eee;
  padding: 45px 0 30px;
}

.team__members {
  margin-top: 56px;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team__member {
  text-align: center;
  flex-basis: 33%;
  margin-bottom: 82px;
  box-sizing: border-box;
}

.team__name {
  margin: 0;
  margin-top: 12px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
}

.team__role {
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.footer {
  background-color: #333;
  padding: 50px 0 65px;
  text-align: center;
}

.footer__copyright {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  max-width: 540px;
  margin: 0 auto;
}

.top-btn,
.top-btn:focus {
  outline: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 119, 101, 0.8);
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.top-btn-img {
  width: 15px;
  height: 15px;
}

.top-btn.visible {
  display: block;
}

.the-problem__title::before,
.introduction__title::before,
.team__title::before {
  display: block;
  content: " ";
  margin-top: -129px;
  height: 129px;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 90%;
    padding: 0 10px;
  }
  .header__nav {
    display: none;
    position: fixed;
    top: 84px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #007765;
  }

  .header__nav.active {
    display: flex;
  }

  .header__nav-list {
    padding-left: 0;
    height: 50%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .header__nav-item {
    margin: 0;
  }

  .header__nav-item::after {
    display: none;
  }

  .header__m-button {
    display: flex;
  }
  .team__name {
    font-size: 20px;
  }
  .team__role {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .piper-net {
    padding: 145px 0;
  }
  .team__member {
    flex-basis: 50%;
  }
  .piper-net__title {
    font-size: 60px;
  }
  .the-problem__title,
  .introduction__title,
  .team__title {
    font-size: 40px;
  }
  .the-problem__text,
  .introduction__text {
    font-size: 23px;
    line-height: 26px;
  }
  .introduction__image {
    width: 90px;
    height: 90px;
    margin-right: 25px;
  }
  .tagline__title {
    font-size: 30px;
    line-height: 35px;
  }
}

@media screen and (max-width: 576px) {
  .header__image {
    width: 110px;
  }
  .header__nav {
    top: 70px;
  }
  .piper-net {
    padding: 50px 0;
  }
  .piper-net__title {
    font-size: 36px;
  }
  .the-problem__title,
  .introduction__title,
  .team__title {
    font-size: 30px;
  }
  .the-problem__text,
  .introduction__text {
    font-size: 18px;
    line-height: 21px;
  }
  .tagline__title {
    font-size: 25px;
    line-height: 30px;
  }
  .tagline {
    padding: 50px 0;
  }
  .team__name {
    font-size: 18px;
  }
  .team__member {
    flex-basis: 100%;
    margin-bottom: 40px;
  }
  .footer__copyright {
    max-width: 90%;
    font-size: 16px;
  }
}
